<div class="page-header">

</div>
<div class="container-fluid">
<div class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
       <%= @photo.location.city_country %>
        </h3>
      </div>
      <div class="panel-body">
           <img src="<%= @photo.image_url %>" class="img-responsive">



  </div>
</div>
</div>   <!--column end -->
</div>
